.photo{
    width:100px;
    margin:5px;
}
.symbol{
    width:30px;
}
.thumb-wrap{
    
    width:130px;
    float:left;
    margin:10px;
    border:2px solid orange;
    border-radius:10px;
    padding:10px;
    position:relative;
    cursor: copy;
    
}
.tick{
   
    position: absolute;
    bottom: 0;
    width: 50px;
    right: 0;
}
.gray-hd {
    
    color: black;
    border-bottom: #AAA;
    
}

.wht-text {
    color: #F6F6F6;
    text-shadow: 0px 1px 1px #373637;
}

.success-toast {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #87bd3e !important;
}

.error-toast {
    color: orange !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
.rtk {
    color: #FE642E;
    background-color: #ffffee;
    font-weight: bold;
}

.nml {
    background-color: #fdfdfd;
    color: #62afff;
    font-weight: bold;
}

table.enrol-tab {
    width: 100%;
    border-top: 2px solid #39ac39 !important;
}

.img-small {
    border: 2px solid #fdfdfd;
    border-radius: 25px;
}
.key-td {
    background: #f4f9ff;
}

h2.reg-true {
    color: #88cc00;
    text-align: center;
    margin: 25px 10px 10px 10px;
}

h2.prov-true {
    color: #ff471a;
    text-align: center;
    margin: 25px 10px 10px 10px;
}
.reg-div {
    border-bottom: 2px solid #88cc00;
}
.prov-div {
    border-bottom: 2px solid #ff471a;
}
table.reg-tab {
    border: 1px dotted #0099ff;
    width: 100%;
}

table.reg-tab td {
    padding: 13px;
    font-size: 10pt;
}
table.reg-tab td:last-child {
    color: #0099ff;
}
table.exam-tab {
    border: 1px dotted #0099ff;
    width: 100%;
}

table.exam-tab td {
    padding: 6px;
    font-size: 9pt;
}
table.exam-tab td:last-child {
    color: #0099ff;
}

table.exam-tab tr.hr {
    border-bottom: 1px solid #999;
}

/* zee-timeline */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

html .heading-dark, html .lnk-dark, html .text-color-dark {
    color: #2e353e !important;
}

html .text-color-light {
    color: #ffffff !important;
}

html .background-color-primary {
    background-color: #ffd93e !important;
}

html .background-color-secondary {
    background-color: #FF6347 !important;
}

section.timeline .timeline-box.right {
    clear: right;
    float: right;
    right: -1px;
    margin-top: 40px;
}

.text-uppercase {
    text-transform: uppercase;
}

section.timeline {
    position: relative;
    float: left;
    display: block;
}

section.timeline .timeline-box.right:before {
    background: none repeat scroll 0 0 #E5E5E5;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #E5E5E5;
    content: "";
    display: block;
    height: 7px;
    margin-left: -5px;
    position: absolute;
    left: -7.2%;
    top: 32px;
    width: 8px;
}

section.timeline .timeline-box.right:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #FFF;
    border-left: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    left: -7px;
    top: 30px;
    width: 14px;
    z-index: 0;
}

section.custom-timeline {
    width: calc(100% - 30px);
    margin: 0 0 0 30px;
    padding: 0;
}
section.custom-timeline:after {
    content: none;
}
section.custom-timeline .timeline-bar {
    position: absolute;
    background: #2e353e;
    width: 3px;
    left: -2.6%;
    z-index: 0;
}
section.custom-timeline .timeline-box {
    border: 0 !important;
    margin: 15px 0 !important;
    width: 100%;
    padding: 0;
    position: relative;
}
section.custom-timeline .timeline-box.right {
    max-width: 100%;
}
section.custom-timeline .timeline-box.right:before {
    content: "";
    top: 50%;
    left: -2.5%;
    background: #2e353e !important;
    box-shadow: 0 0 0 3px #ecf1f7, 0 0 0 6px #2e353e !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

section.custom-timeline .timeline-box.right:after {
    content: "";
    top: 50%;
    background: #ffd93e;
    border: none;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

section.custom-timeline .timeline-box.right.enrol:after {
    content: "";
    top: 50%;
    background: #FF6347;
    border: none;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

section.custom-timeline .timeline-box .experience-info, section.custom-timeline .timeline-box .experience-description {
    padding: 35px;
}
section.custom-timeline .timeline-box .experience-info p {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 11px;
}
section.custom-timeline .timeline-box .experience-info .from, section.custom-timeline .timeline-box .experience-info .to {
    display: inline-block;
    width: 49%;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
}
section.custom-timeline .timeline-box .experience-info .from > span, section.custom-timeline .timeline-box .experience-info .to > span {
    display: block;
    text-transform: none;
    font-size: 16px;
}
section.custom-timeline .timeline-box .experience-info .company {
    font-size: 15px;
}
section.custom-timeline .timeline-box .experience-info .company > span {
    display: block;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 11px;
}

section.custom-timeline .timeline-box .experience-info .from > span, section.custom-timeline .timeline-box .experience-info .to > span {
    display: block;
    text-transform: none;
    font-size: 16px;
}


section.custom-timeline .timeline-bar {
    left: -3.7%;
    top: 121.5px;
    bottom: 121.5px;
}
section.custom-timeline .timeline-box:before, section.custom-timeline .timeline-box:after {
    display: block !important;
}
section.custom-timeline .timeline-box.right {
    float: right;
}
section.custom-timeline .timeline-box.right:before {
    left: -3.4%;
}


html .heading-dark, html .lnk-dark, html .text-color-dark {
    color: #2e353e !important;
}

.font-weight-semibold {
    font-weight: 600 !important;
}



.col-md-3 {
    width: 35%;
}

.col-md-9 {
    width: 65%;
    background-color: rgb(236, 241, 247);
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.red-txt {
    color: tomato !important;
}
.grn-txt {
    color: yellowGreen !important;
}

.theme-blu {
    color: rgb(3, 127, 178) !important;
}
.black-shadow {
    text-shadow: 0 1px 1px #373637 !important;
}

.borderless {
    border-width: 0 !important;
    border-style: dashed !important;
    border-color: red;

}
